body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.calculator-box {
    background-color: #333;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
}

.display {
    font-size: 2em;
    background-color: #000000;
    border-color: #333;
    padding: 10px;
    border-radius: 5px;
    text-align: right;
    overflow: hidden;
    color: white;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.2s;
    text-align: center;
}

.btn:hover {
    background-color: #ddd;
}

#clear {
    grid-column: span 2;
    background-color: #f44336;
    color: #fff;
}

#equals {
    grid-column: span 2;
    background-color: #4caf50;
    color: #fff;
}
